doctype html
html 
    head 
        title My Site 
        block scripts
        block style   
    body
      nav#navbar
        ul
            div#logo 
              img(src="/static/img/logoD1.png")
              //- | DA
            li #[a(href = '/') Home] 
            li #[a(href = '/') About ]
            li #[a(href = '/') Services]
            li #[a(href = '/') Class info]
            li #[a(href = '/contact') Contact us]
      block content 
      footer#footer 
        | Copyright © 2021 DanceAcademy.com           